
/* 
    Created on : 23/06/2017, 15:38:14
    Author     : william
*/

*,*:before,*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 400;
    outline: 0;
    line-height: 1.2;
    letter-spacing: 0em;

}

h1{ font-size: 2em; font-weight: 300;}
h2{ font-size: 1.8em; font-weight: 400;}
h3{ font-size: 1.5em; font-weight: 500;}
p{ margin-bottom: 15px}
p:last-child{margin-bottom: 0;}
mark{padding: 5px 10px; background: #eee;}
ul{list-style: none;}
img{ max-width: 100%; border:none; vertical-align: middle;}
small{font-size: 0.75em; color:#555;}
a{text-decoration: none;}
a img{border:none;}
b,strong{font-weight: bold;}
/*forms*/
.form-legend{font-size: 1.6em; font-weight: normal; margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px #ccc dotted; }
.form-field{display: block; margin-bottom: 10px;}
label{display: block; margin-bottom: 25px;}
input,textarea,select{width: 100%; border:1px  #ccc solid; color:#555; padding: 10px; border-radius: 3px;}
input[type="submit"],input[type="reset"],button{width: auto; margin-top: 15px; }
.form-check .form-field{margin-bottom: 15px;}
.form-check label{border-radius: 2px;margin-right: 30px;  padding: 8px 15px 10px 15px; background: #fbfbfb; cursor: pointer; display: inline-block; color: #000;}
.form-check input{width: auto; float: left; margin: 4px 10px 0 0; }





/*background color*/
.bg-orange{ background: #e16f4d; color: #fff;}
.bg-gray{background: #444; color: #fff;}

.bg-graylight{background: #9b7e88; color: #fff;}
.bg-blue{background: #34495e; color: #fff;}
.bg-light{background: #e6e4d9; color:#444;}
.bg-blue-light{background: #ccd8d1; color: #444;}
.bg-body{background: #fbfbfb; color: #333;}
.bg-black{background-color:#444; color: #fff;}
.bg-yellow{background-color: #f1c40f; color:#fff;}
.bg-since{background-color: #7f8c8d; color:#777;}


/*font-weight*/
.font-100{font-weight: 100 !important;}
.font-300{font-weight: 300 !important;}
.font-400{font-weight: 400 !important;}
.font-700{font-weight: 700 !important;}

/*font-size*/
.font-size1{ font-size: 1em;}
.font-size1b{ font-size: 1.5em;}
.font-size2b{ font-size: 2.0em;}
.font-size2b{ font-size: 2.5em;}
.font-size3{ font-size: 3.0em;}
.font-size3b{ font-size: 3.5em;}
.font-zero{font-size: 0em;}
.font-light{font-weight: 300;}

/*margin*/
.m-bottom{margin-bottom: 30px;}

/*container*/
.container{
    float:left;
    width: 100%;
}
.content{
    width: 80%;
    margin: 0 10%;
    padding: 40px 0;
}
.content-page{padding: 60px 0;  }
.sectiontitle{float: left; width:100%; margin-bottom: 30px; text-align: center;}
.sectiontitle h1{ font-size: 2.4em; font-weight: 300; margin-bottom: 10px;}
.sectiontitle .tagline{ font-size: 1.4em; font-weight: 300; }
.section-title-no-margin, .articletitle-nomargin{margin: 0 !important;}


.articletitle{float: left; width:100%; margin-bottom: 30px; }
.articletitle h1{ font-size: 1.8em; margin-bottom: 2px;}
.articletitle .tagline{ font-size: 1.1em; }


/*helpes*/
.text-shadow{text-shadow:1px 1px 1px #ccc;}
.box-shadow{box-shadow:0px 3px 3px 3px rgba(0,0,0,0.3); }
.radius{border-radius: 5px;}
.round{border-radius: 50%;}

.clear{
    clear: both;
}
.last{margin: 0 !important;}

/*alinhamento de texto*/
.al-center{ text-align: center;}
.al-left{ text-align: left;}
.al-right{ text-align: right;}
.al-justify{ text-align: justify;}


/*alinhamento de box*/
.fl-left{float: left !important;}
.fl-right{float: right !important;}
.fl-none{float: none !important;}

/*displays*/
.ds-block{display: block;}
.ds-inline-block{display: inline-block;}
.ds-inline{display: inline;}
.ds-none{display: none;}


/*box*/
.box{width: auto; float: left;}
.box-line{float: left; width: 100%;}
.box-small{width: 22.75%; margin-right:3%;}
.box-medium{width: 30%; margin-right:5%;}
.box-large{width: 46.5%; margin-right:7%;}
.box-full{width: 100%; margin:0;}
.box-forthree{width: 64%;}
.box-forthreesmall{width: 30%;}

/*sharebox*/
.sharebox{float:left; width: 100%; padding: 25px 0; text-align: center; }
.sharebox li{display: inline-block; border-radius: 4px; margin: 0 15px; padding-left: 7px; background: #ccc; background-position: left 10px  center; background-repeat: no-repeat;}
.sharebox a{float: left; color: #fff; padding: 10px 20px 10px 40px;}
.sharebox .count{float: right; padding: 10px 15px; color: #fff; background: rgba(0,0,0,0.7);}
.sharebox .facebook{background-image: url(social/facebook_pix.png); background-color: #45619d; transition: all ease-in-out 0.4s;}
.sharebox .facebook:hover{background-color: #1276b5;}
.sharebox .google{background-image: url(social/google_pix.png); background-color: #dd5044; transition: all ease-in-out 0.4s;}
.sharebox .google:hover{background-color:#ef574b;}
.sharebox .twitter{background-image: url(social/twitter_pix.png); background-color: #1da1f2; transition: all ease-in-out 0.4s;}
.sharebox .twitter:hover{background-color: #0497cf;}

/*video*/
.video{ width: 100%; margin: 0}
.video-small{ width: 40%; margin: 0 30%;}
.video-medium{ width: 60%; margin: 0 20%;}
.video-large{ width: 80%; margin: 0 10%;}

/*botoes*/

.btn{
    display: inline-block;
    padding:10px 20px;

    color: #fff;
    background: #333;
    
    border-bottom: 4px solid rgba(0,0,0,0.6);
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;

    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4), 0px 1px 2px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all ease-in-out 0.6s;

}
.btn:hover{

}
.btn-big{font-size: 1.8em; padding: 20px 40px;}
.btn-medium{font-size: 1.4em; padding: 20px 10px; width: 50%;}
.btn-small{font-size: 1em; padding: 10px 5px;}


.btn-orange{background-color: #e67e22; }
.btn-green{background-color: #16a085; }
.btn-blue{background-color: #2980b9; color: #fff;}
.btn-red{background-color: #c0392b; color: #fff;}

.btn-orange:hover{background-color:#f39c12;}
.btn-green:hover{background-color: #27ae60;}

/*trigger*/
.trigger{ float:left; font-size: 1.2em; width: 100%; padding: 25px; margin: 30px 0;  box-shadow: 2px 2px 3px rgba(0,0,0,0.5); border-radius: 3px;}
.trigger-info{ border-left: 7px solid #3498db; border-top:2px solid #ddd;}
.trigger-accept{ border-left: 7px solid #2c7f28; border-top:2px solid #ddd;}
.trigger-alert{ border-left: 7px solid #f1c40f; border-top:2px solid #ddd;}
.trigger-danger{ border-left: 7px solid #e74c3c; border-top:2px solid #ddd;}


/*shortcut icons*/
.shorticon{padding-left:30px; background-position: center left; background-repeat: no-repeat; background-size: auto 96%;}
.shorticon-sectiontitle{padding-left: 60px;}
.shorticon-form-title{padding-left: 40px;}
.shorticon-facebook{background-image: url(img/facebook.png);}
.shorticon-google{background-image: url(img/google.png);}
.shorticon-twitter{background-image: url(img/twitter.png);}
.shorticon-config{background-image: url(img/config.png);}
.shorticon-mail{background-image: url(img/mail.png);}
.shorticon-section{background-image: url(img/section.png);}