body{
	background-color: #eee;
}
.main_logo{
	position: relative; width: 242px; height: 60px;
}
.main_logo a{
	position: absolute; width: 210px; height: 60px; background: url("../img/logo.png") center center no-repeat; background-size: auto 76%; transition: all ease-in-out 0.4s;
	border-radius: 3px;

}
.main_logo a:hover{
	background-color: rgba(0,0,0,0.6);
}
.main_menu ul{
	list-style: none;
}
.main_menu li{
	float: left;
	display: inline-block;
	

}
.main_menu a{
	display: inline-block;
	margin: 10px 20px;
	padding: 10px 15px;
	color: #fff;
	border-radius: 3px;
	transition: all ease-in-out 0.5s;
}
.main_menu a:hover{
	background-color: #fff;
	color:#09f;
}

.main_destaque{
	text-align: center;
	
}
.main_destaque a{
	display: inline-block;
	margin: 45px 0;
	text-align: center;
}
.main_footer{
	padding: 25px 0;
	clear: both;
	margin: 10px 0;
}


/*pagina de login*/


.main_login .article-title{
	margin-bottom: 30px;
}


.form-action a{
	color: #fff;
	margin-right: 10px;
}


.form-action a:hover{
	text-decoration: underline;
}

.form-action .btn{
	margin:0 10px;
}
.form-action .btn:last-of-type{
	margin: 0;
}

/*categorias de kitnet*/

.categoria_destaque{

	margin-bottom: 30px;
	
	border-radius: 3px;
	
	padding: 20px 15px;
	text-align: center;
	transition: all ease-in-out 0.6s;
	background-color: #fff;	
	cursor: pointer;
}
.categoria_destaque:hover{
	background-color: rgba(255,255,255,0.6);
	box-shadow: 0 2px 2px; rgba(225,255,225,0.5);
}
.categoria_destaque .tumb{
	border: 4px solid #eee;
	cursor: pointer;
	border-radius: 3px;
}
.categoria_destaque p{
	margin-top:10px;
	text-align: left;

}
table{
	margin: 30px 0;
	width: 100%;
	max-width: 100%;
	border-color: #fff;
	border-radius: 5px;
	background-color: #eee;
	border:none;
}
table tr{
	padding: 30px;
	color: #777;
	background-color: #fff;
	border:none;
}
tr:nth-child(odd) {
   background-color: #ccc;
}
table td{
	padding: 20px;
	border:none;

}
