.main_logo{
	position: relative; width: 242px; height: 60px;
}
.main_logo a{
	position: absolute; width: 210px; height: 60px; background: url("../img/logo.png") center center no-repeat; background-size: auto 76%; transition: all ease-in-out 0.4s;
	border-radius: 3px;

}
.main_logo a:hover{
	background-color: rgba(0,0,0,0.6);
}
.main_menu ul{
	list-style: none;
}
.main_menu li{
	float: left;
	display: inline-block;
	

}
.main_menu a{
	display: inline-block;
	margin: 10px 20px;
	padding: 10px 15px;
	color: #fff;
	border-radius: 3px;
	transition: all ease-in-out 0.5s;
}
.main_menu a:hover{
	background-color: #fff;
	color:#09f;
}

.main_destaque{
	text-align: center;
	
}
.main_destaque a{
	display: inline-block;
	margin: 45px 0;
	text-align: center;
}
